@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.details-position{
    position: absolute;
    top: 15px;
    right: 20px;
}

.niyuj-logo {
    background: url('https://goo.gl/b1xj6v');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    position: relative;
    top: -30px;
    right: -15px;
    margin: 1rem;
}
.niyuj-logo-small {
    background: url('https://goo.gl/b1xj6v');
    background-size: contain;
    height: 40px;
    width: 40px;
    position: relative;
    top: -4px;
    right: -3px;
    margin: 1rem;
}
.employee-layout {
    max-height: 410px;
    overflow-y: auto;
}
.w-p-100 {
    width: 100%;
}
.m-w-800 {
    max-width: 800px;
}
.m-w-200 {
    max-width: 200px;
}
.details{
    top: 208px !important;
    right: 18px !important;
    left: auto !important;
    transform: unset !important;
    width: 455px;
    height: 66%;
    vertical-align: middle;
    
}
.create-user {
    top: 175px;
    right: 15px;
    width: 465px;
    height: 74%;
    position: absolute;
}
.create-layout{
    margin-top: 15px;    
    padding: 10px 20px;
    min-height: 40px;
    height: 480px;
    box-shadow: 0 0 10px #222;
    max-height: 480px;
    overflow-y: auto;
    background-color: #F9F9F9
}
.avatar{
    width: 10% !important;
}
.list-header:hover {
   background-color: #e7e4e4;
   cursor: unset;
}
.p-t-15 {
   padding-top: 15px;
}
.input-lable {
    width: 30%;
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    font-weight: 300;
    font-style: italic;
    vertical-align: middle;
}
.emp-input{
    width: 65%;
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    font-weight: 300;
    font-style: italic;
    vertical-align: middle;
}
.emp-input{
    input {
        height: 25px;
        padding: 0px 4px
    }
}
.h-33{
    height: 33px;
}
.text-center {
    text-align: center;
}
.confirm-layout{
    padding: 10px;
    background-color: #e7e4e4;
    margin: 11px;
    text-align: center;
    width: 550px;
    height: 150px;
}