<div class="jumbo">
  <h3>About Niyuj employee</h3>
  <p>
    The Niyuj employee website is a delightful project created to explore Ember.
    By building a company employee site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
</div>