<div class="jumbo">
  {{!-- <div class="right niyuj-logo"></div> --}}
  <button class="right button" {{action "toggleModal" this}}>Add User</button>
  <h3>Welcome! <h5>We hope you find exactly what you're looking for in a place to stay.</h5></h3>
</div>

<div class="">
    <article class="listing list-header m-w-800">
        <div class="detail avatar">
            <span>Avtar</span>
        </div>
        <div class="detail">
            <span>Name</span>
        </div>
        <div class="detail">
            <span>Status</span>
        </div>
        <div class="detail avatar">
            <span>Age</span>
        </div>  
        <div class="detail">
            <span>Location</span>
        </div>
        <div class="detail">
            <span>Email</span>
        </div>
    </article>
    <div class="employee-layout m-w-800">
        {{#each model.users as |item|}}
            {{#if item.id}}
                {{user-listing user=item}}
            {{/if}}
        {{/each}}
    </div>
</div>

{{#if isShowingModal}}
    {{edit-user model=model source="create" isShowingModal=isShowingModal}}
{{/if}}

{{outlet}}